<a href="https://colab.research.google.com/github/dlagusxor/21-2python/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**

* 반복문의 이해 및 활용
* range() 함수를 이해

### **for반복문**
* 리스트,문자열 등을 순회하면서 값을 처리할 떄 사용
* i는 매번 문장을 수행할 떄마다 a 리스트  안의 값으로 순차적으로 변경된다
* 모든 a 안의 값이 수행되면  for문의 블록은 종료된다

In [ ]:
a = [1,2,3,4,5] # 리스트

for i in a :
  print(i)

1
2
3
4
5

In [ ]:
#문자열의 아이템 출력하기
 
for x in 'hello world B!' :
   print(x)

h
e
l
l
o

w
o
r
l
d

B
!

In [ ]:
# a 리스트 안의 수가 짝수면 그 수를 2로 나누고
# 홀수일 경우 2를 곱한 수를 출력하시오.

a = [1,10,6,29,18,7] # 짝수와 홀수의 리스트

for i in a :
  if i % 2 == 0 : # 짝수
      print(i//2)
  else :
      print(i*2)

2
5
3
58
9
14

#### **break**
* 특정 조건을 만족할 때 for을 빠져나오기 위해 사용

In [ ]:
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 테스트 케이스의 개수 T가 주어진다.
# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

t = int(input())

for i in range(t):
  a, b = input().split()
  a = int(a)
  b = int(b)
  print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
a = [1,10,6,29,18,7]

for i in a :
  if i > 20:
    print(i)
    break

29

### **range 함수**
* 리스트 혹은 튜플을 쉽게 만들 수 있는 내장 함수
* 주어진 값에 따라 다양한 결과를 반환

```pyton
range(10)       ->[0,1,2,3,4,5,6,7,8,9]
range(2,10)     ->[2,3,4,5,6,7,8,9]
range(2,10,3)   ->[2,5,8]
```

In [ ]:
print(list(range(10)))
print(list(range(2,10)))
print(list(range(2,10,3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 5, 8]

### **구구단 출력하기**
* 2단부터 9단까지
* 각 단은 1부터 9까지 곱하도록

> [2단]
> - 2 * 1 = 2
> - 2 * 2 = 4
> ....
> - 2 * 9 = 18
> - 총 9단까지 출력

In [ ]:
print("구구단 출력하기\n")
for j in range(2,10):
  print("[",j,"단]")
  for i in range(1,10):
   print(j, '*',i, '=', j*i)
  print()

구구단 출력하기

[ 2 단]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 3 단]
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

[ 4 단]
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

[ 5 단]
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

[ 6 단]
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

[ 7 단]
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

[ 8 단]
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

[ 9 단]
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81